.about-us {
  display: flex;
  align-items: center;
}

.about-us__title {
  display: block;
  width: 171px;
  margin-right: auto;

  @include oswald(16px, 18px);
  text-transform: uppercase;
}

.about-us__address {
  display: flex;
  width: 160px;
  text-align: right;

  @include arial($lh: 20px);
  font-style: normal;
  color: $special-medium-dark-grey;
  text-transform: none;
}

.about-us__map {
  grid-area: about-us__map;
  border: 0;
}
