.about-us {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $white;
    width: 570px;
    position: absolute;
    z-index: 2;
    margin-top: 60px;
    padding: 62px 89px 51px 76px;
    justify-content: center;
    margin-left: 110px;
  }
}

.about-us__title {
  width: 171px;
  margin-right: auto;

  @include oswald(16px, 18px);
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    @include oswald(20px, 21px);
    margin-right: 85px;
  }
}

.about-us__address {
  display: flex;
  width: 160px;
  text-align: right;

  @include arial($lh: 20px);
  font-style: normal;
  color: $special-medium-dark-grey;
  text-transform: none;

  @media (min-width: $desktop-width) {
    @include arial(16px, 20px);
    text-align: start;
    display: grid;
  }
}

.about-us__address-br {
  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}
