.academy-logo {
  grid-area: academy-logo;
  display: grid;
  justify-content: end;
  align-items: center;
  fill: $special-medium-gray;

  &:hover {
    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 23px;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    margin-left: 22px;
  }
}
