.example {
  background-color: $background-gray;
  display: flex;
}

//.example__about {
//  @media (min-width: $desktop-width) {
//    display: flex;
//  }
//}


//  grid-template-areas: "example__title example__title"
//    "example__subtitle example__subtitle"
//    "example__column example__column"
//    "example__cost example__cost"
//    "example__img example__img";
//
//  @media (min-width: $tablet-width) {
//    grid-template-areas: "example__title example__title"
//      "example__subtitle example__subtitle"
//      "example__column example__cost "
//      "example__img example__img";
//    background-image: linear-gradient(to top, $background-gray 30%, $white 30%);
//  }
//
//  @media (min-width: $desktop-width) {
//    grid-template-areas: "example__title example__img"
//      "example__subtitle example__img"
//      "example__column example__img"
//      "example__cost .";
//    grid-template-columns: 436px 1fr;
//    grid-column-gap: 134px;
//    background-image: linear-gradient(to top, $background-gray 70%, $white 30%);
//  }
//}

.example__subtitle {
  margin: 0;

  @include arial;
  color: $special-medium-dark-grey;
}

.example__column {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
  }
}

.example__parameters {
  display: block;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid $special-gray;
  border-radius: 6%;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.example__value {
  @include oswald(24px, 24px);
  padding-top: 13px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    background-color: $background-gray;
    display: block;
    padding-bottom: 13px;
  }
}

.example__sub {
  margin: 0;
  text-align: center;
  color: $special-medium-dark-grey;

  @include arial(12px, 12px);

  @media (max-width: $mobile-width-only) {
    background-color: $background-gray;
    display: block;
    max-width: 80px;
    margin: 0 auto;
  }
}

.example__cost {
  @include oswald($lh: 20px);
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    text-align: center;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    display: flex;
  }
}

.example__cost--br {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.example__cost-span {
  justify-content: left;

  @media (min-width: $mobile-width-only) {
    justify-content: center;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
