.example {
  background-color: $background-gray;
}

.example__content {
  display: grid;
  grid-template-areas: "example__title example__title"
    "example__subtitle example__subtitle"
    "example__column example__column"
    "example__cost example__cost"
    "example__img example__img";

  @media (min-width: $tablet-width) {
    grid-template-areas: "example__title example__title"
      "example__subtitle example__subtitle"
      "example__column example__cost "
      "example__img example__img";
    background-image: linear-gradient(to top, $background-gray 30%, $white 30%);
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "example__title example__img"
      "example__subtitle example__img"
      "example__column example__img"
      "example__cost .";
    grid-template-columns: 436px 1fr;
    grid-column-gap: 134px;
    background-image: linear-gradient(to top, $background-gray 70%, $white 30%);
  }
}

.example__title {
  grid-area: example__title;
}

.example__subtitle {
  grid-area: example__subtitle;

  @include arial;
  color: $special-medium-dark-grey;
  padding-top: 33px;
}

.example__column {
  grid-area: example__column;
  display: flex;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    justify-items: left;
  }
}

.example__parameters {
  grid-area: example__parameters;
  display: block;
  position: relative;
  width: 124px;
  height: 56px;
  padding: 0 25px;
  margin-right: 30px;

  &::before {
    position: absolute;
    content: url("../img/example__parameters--left.svg");
    left: calc(100% - 125px);
  }
}

.example__value {
  margin-top: 15px;
  text-align: center;

  @include oswald(24px, 24px);
}

.example__sub {
  margin-left: 0;
  margin-top: 10px;
  text-align: center;
  color: $special-medium-dark-grey;

  @include arial(12px, 12px);
}

.example__cost {
  grid-area: example__cost;

  @include oswald($lh: 20px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    display: flex;

    .example__cost--br {
      display: none;
    }

    .example__cost-span {
      justify-content: left;
      margin-right: 63px;
    }
  }
}

.example__img {
  grid-area: example__img;
}
