.how-it-works {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 49px;
  }
}

.how-it-works__title {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    @include oswald(36px, 40px);
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    @include oswald(60px, 60px);
    margin: 0;
    padding-bottom: 43px;
  }
}

.how-it-works__item {
  @include arial;
  color: $special-medium-dark-grey;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &::before {
    background-color: $basic-green;

    @media (max-width: $mobile-width-only) {
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
    }

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      position: absolute;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: $tablet-width) {
    padding: $how-it-works__item-padding;
  }

  &--functional-nutrition::before {
    content: url("../img/index/sheet.svg");
  }

  &--consistency::before {
    content: url("../img/index/bucket.svg");
  }


  &--meal-replacement::before {
    content: url("../img/index/tools.svg");
  }

  &--transformations::before {
    content: url("../img/index/alarm.svg");
  }
}

.how-it-works__item-text {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 26px;
    padding-left: 80px;
  }

  @media (min-width: $tablet-width) {
    @include arial(16px, 24px);
    margin-left: 0;
    padding-top: 112px;
    position: absolute;
    display: block;
    width: 227px;
  }
}

.how-it-works__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 246px);
    grid-column-gap: 138px;
    grid-row-gap: 27px;
    counter-reset: numbers-pic;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 97px;
    grid-template-columns: repeat(auto-fill, 228px);
    //padding-bottom: 10px;
  }
}

.how-it-works__item::after {
  //ругается линтер , пишет не может найти шрифт
  //font-family: "Oswald";
  font-size: 280px;
  line-height: 280px;

  @media (min-width: $tablet-width) {
    content: counter(numbers-pic);
    counter-increment: numbers-pic;
    color: $basic-gray;
    z-index: -1;
    top: -30px;
    left: 70px;
    position: absolute;
  }
}
