.how-it-works__item {
  @include common-arial(14px, 18px);
  color: $special-dark-grey;
  display: block;
  position: relative;
  margin-left: 100px;
  margin-bottom: 20px;

  &--functional-nutrition::before {
    position: absolute;
    content: url("../img/how-it-works__item--functional-nutrition.svg");

    @include how-it-works__item-pic;
  }

  &--consestence::before {
    position: absolute;
    content: url("../img/how-it-works__item--consestence.svg");
    @include how-it-works__item-pic;
  }

  &--meal-replacement::before {
    position: absolute;
    content: url("../img/how-it-works__item--meal-replacement.svg");
    @include how-it-works__item-pic;
  }

  &--transformations::before {
    position: absolute;
    content: url("../img/how-it-works__item--transformations.svg");
    @include how-it-works__item-pic;
  }
}
