.main-footer {
  //grid-area: main-footer;
  background-color: $background-gray;
}

.main-footer__content {
  display: grid;
  margin-top: 40px;
  position: relative;
  //grid-template-rows: repeat(3, auto);

  @media (max-width: $mobile-width-only) {
    grid-template-areas: "main__img-text main__img-text"
      "social social"
      "academy-text-logo academy-logo";
    align-items: center;
    grid-row-gap: 50px;
  }

  @media (min-width: $tablet-width) {
    grid-template-areas: "main__img-text social  academy-text-logo academy-logo";
    align-items: center;
    padding: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "main__img-text social   academy-logo";
  }
}
