.main-header {
  grid-area: main-header;
  display: grid;

  //@media (max-width: $mobile-width-only) {
  //  padding-bottom: 27px;
  //}

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-bottom: 65px;
  }
}

.main-header--background {
  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 694px;
      background-color: $basic-green;
      z-index: -1;
      opacity: 0.85;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 694px;
      background-image: url("../../img/index/desktop/1x/d-cat-background.png");
      z-index: -1;
    }
  }
}

.main-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
