.main-footer {
  grid-area: main-footer;
  background-color: $background-gray;
  position: relative;
}

.main-footer__content {
  display: grid;
  position: relative;
  padding-bottom: 20px;

  @media (max-width: $mobile-width-only) {
    grid-template-areas: "main__img-text main__img-text"
      "social social"
      "academy-text-logo academy-logo";
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 49px;
    padding-top: 40px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "main__img-text social   academy-logo";
    padding: 58px 110px;
  }
}
