.navigation__list a {
  @include oswald(20px, 20px, 500);
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    display: flex;
    padding: 22px 15px 24px;
    justify-content: center;
    border-bottom: 1px solid $basic-gray;
  }

  @media (min-width: $tablet-width) {
    @include oswald(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include oswald(20px, 30px);
    color: $white;
  }

  //&::before {
  //
  //}
}

//.navigation__list a::before {
//  @media (max-width: $mobile-width-only) {
//    content: "";
//    position: absolute;
//    width: 100%;
//    left: 0;
//    border-top: 1px solid $special-gray;
//    margin-top: 40px;
//  }
//}

.navigation__list--form-desktop a {
  color: $basic-black;
}

.navigation__list {
  //display: none;

  @media (max-width: $mobile-width-only) {

    justify-content: center;
    text-align: center;
    grid-row-gap: 46px;
    margin-top: 10px;
    padding-top: 10px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
  }
}

.navigation__list li:not(:first-child) {
  @media (min-width: $tablet-width) {
    margin-left: 35px;
  }
}
