.programs__list {
  padding-bottom: 45px;

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.programs__item {
  background-color: $basic-gray;

  @media (max-width: $mobile-width-only) {
    padding: 21px 20px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 77px 280px 57px 52px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 59px 52px;
    display: block;
    max-width: 570px;
  }
}


.programs__item:not(:last-child) {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 570px);
    grid-column-gap: 80px;
  }
}

.programs__title {
  margin: 0;
  position: relative;

  @include oswald(24px, 37px);
  text-align: center;

  @media (max-width: $mobile-width-only) {
    @include oswald(24px, 37px);
    text-transform: uppercase;
    padding-left: 72px;
    text-align: left;
    padding-bottom: 29px;
    padding-top: 7px;
  }

  @media (min-width: $tablet-width) {
    @include oswald(36px, 36px);
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 73px;
    margin: 0;
  }
}

.programs__title--cat-sit::before {
  background-image: url("../img/index/mobile/svg/cat-sit.svg");
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  left: 2px;

  @media (max-width: $mobile-width-only) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
  }
}

.programs__title--cat-goes::before {
  background-image: url("../img/index/mobile/svg/cat-walk.svg");
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
  left: -7px;

  @media (max-width: $mobile-width-only) {
    top: 1px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
    left: -20px;
  }
}

.programs__title--cat-goes::after,
.programs__title--cat-sit::after {
  content: "";
  position: absolute;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.programs__title--cat-sit::after {
  background-image: url("../img/index/mobile/svg/cat-sit.svg");
  background-size: 200px 211px;
  width: 200px;
  height: 211px;
  right: -218px;
  top: 4px;
}

.programs__title--cat-goes::after {
  background-image: url("../img/index/mobile/svg/cat-walk.svg");
  background-size: 268px 200px;
  width: 268px;
  height: 200px;
  right: -251px;
  top: 14px;
}


.programs__title--cat-sit::before,
.programs__title--cat-goes::before {
  position: absolute;
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.programs__subtitle {
  @include arial;
  color: $special-medium-dark-grey;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 23px;
    border-bottom: 1px solid $color-line-gray;
    max-width: 227px;
  }

  @media (min-width: $tablet-width) {
    @include arial(16px, 24px);
    display: block;
    min-height: 147px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    min-height: 0;
    padding-bottom: 27px;
  }
}

.programs__button {
  display: inline-block;

  position: relative;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    @include oswald(16px, 16px);
    padding-top: 18px;
    padding-right: 50px;
  }

  @media (min-width: $tablet-width) {
    @include oswald(20px, 30px);
  }
}

.programs__button::after {
  content: url("../img/index/arrow.svg");
  position: absolute;

  @media (max-width: $mobile-width-only) {
    margin-left: 8px;
    top: 18px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 17px;
    top: -3px;
  }
}

.programs__button::before {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background-color: $basic-gray;
  //background-color: deeppink;
  z-index: 2;
  position: absolute;
  right: 29px;
  top: 20px;
}
