.social {
  grid-area: social;
  display: flex;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 43px;

  @media (max-width: $mobile-width-only) {
    border-top: $line-gray;
    border-bottom: $line-gray;
  }
}

.social li {
  margin: 0 20px;
}

.social__item--vk {
  content: url("../img/main__vk.svg");
}

.social__item--instagram {
  content: url("../img/main__instagram.svg");
}

.social__item--facebook {
  content: url("../img/main__facebook.svg");
}
