.social {
  grid-area: social;
  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    width: 124px;
    margin-left: 73px;
    justify-content: space-between;
    align-items: baseline;
  }


  @media (min-width: $tablet-width) {
    width: 70px;
    display: grid;
    grid-template-columns: repeat(3, 51px);
    align-items: center;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    display: grid;
    grid-template-columns: repeat(3, 51px);
  }
}

.social::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    border-top: $line-gray;
    width: 100%;
    left: 0;
    margin-top: -20px;
    position: absolute;
  }
}

.social::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    left: 0;
    margin-top: 43px;
    border-bottom: $line-gray;
    width: 100%;
    position: absolute;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    margin: 0 27px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $basic-gray;

  &:hover,
  &:focus {
    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--facebook {
  fill: none;
  stroke: black;

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 27px;
  }
}

.social__link--vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}
