.container {
  padding: 0 calc(50% - 160px + 20px);

  @media (min-width: $tablet-width) {
    padding: 0 calc(50% - 384px + 30px);

    @media (min-width: $desktop-width) {
      padding: 0 calc(50% - 720px + 110px);
    }
  }
}
