.line-green {
  position: relative;
  padding-right: 23px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 50%;
    z-index: -1;

    width: 200vw;
    height: 1px;

    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      height: 2px;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      top: 20px;
    }
  }
}


//.line-green--custom {
//  position: relative;
//  width: 100%;
//z-index: 2;
//}
