//Для шрифта

@mixin main-oswald {
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-weight: 400;
}

@mixin parameters-oswaldregular($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}

@mixin parameters-oswaldmedium($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-weight: 500;
}

@mixin common-arial($fs, $lh) {
  font-family: "Arial", "Oswaldregular", "Verdana", sans-serif;
  font-size: $fs;
  line-height: $lh;
}

@mixin how-it-works__item-pic {
  width: 60px;
  height: 60px;
  left: -80px;
}
